services:
  - type: web
    name: bookforme-backend
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: PORT
        value: 8000
      - key: DEBUG
        value: False
      - key: LOG_LEVEL
        value: INFO


