services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: bookme
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: bookmeposs
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql  
  
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - '6379:6379'
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data: